body {
    // background-color: #222;
    // color: white;
    font-family: Arial;
}
main {
    display: flex;
}
section {
    padding:1em;
    margin-left:19em;
    h1 {
        @include borderBottom;
    }
}
